table {
    margin: 10px;
    text-align: left;
    font-family: Calibri;
    font-size: 15px;
    border-collapse: collapse;
    border: 1px solid rgb(206, 199, 182);
}

img {
    width: 22px;
    vertical-align: middle;
    margin-right: 5px;
}

th, td {
    padding: 7px;
    padding-right: 50px;
    border-right: 1px solid rgb(206, 199, 182);
}

    th:nth-child(4n) {
        padding: 8px;
    }

    td:nth-child(4n) {
        padding: 8px;
    }

thead {
    background-color: rgb(61, 204, 0);
    color: white;
}

tr:nth-child(2n) {
    background-color: rgb(230, 226, 207);
}
