@mixin gradient{
	background: rgb(210,145,252); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(210,145,252) 0%, rgb(146,22,242) 11%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(210,145,252)), color-stop(11%,rgb(146,22,242))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(210,145,252) 0%,rgb(146,22,242) 11%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(210,145,252) 0%,rgb(146,22,242) 11%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(210,145,252) 0%,rgb(146,22,242) 11%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(210,145,252) 0%,rgb(146,22,242) 11%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d291fc', endColorstr='#9216f2',GradientType=0 ); /* IE6-9 */
}
body{
	margin: 0;
    padding: 0;
    border: 0;
	font: 14px normal Arial;
    color: white;
	@include gradient;

}